In [1]:
import pandas as pd

In [2]:
#create data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'],
        'Country' : ['USA','USA','USA','JPN','JPN']}
df = pd.DataFrame(data)
df

     Name  Age    Address Qualification Country
0     Jai   27      Delhi           Msc     USA
1  Princi   24     Kanpur            MA     USA
2  Gaurav   22  Allahabad           MCA     USA
3    Anuj   32    Kannauj           Phd     JPN
4   Geeku   15      Noida          10th     JPN

In [5]:
#calculate row_number by index
print('row number of the table : ', len(df.index))

row number of the table :  5